<div class="container" ng-show="showPanel == 'createUser'">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-5 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Create new user</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <form name="theForm" class="form-horizontal" ng-submit="createUser(user, theForm.$valid)" novalidate>
                    <div style="margin-bottom: 25px">
                        <div style="margin-bottom: 5px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="nick" value="" placeholder="Nick" ng-model="user.nick" minlength="3" maxlength="7" required />
                        </div>
                        <div ng-show="showError" ng-class="isStyle ? 'has-error alert alert-danger' : 'has-success alert alert-info'">{{ getError(theForm.nick.$error) }}</div>
                    </div>

                    <div style="margin-bottom: 25px">
                        <div style="margin-bottom: 5px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="text" class="form-control" name="login" ng-model="user.login" placeholder="Login" ng-model="user.login" minlength="3" maxlength="7" required />
                        </div>
                        <div ng-show="showError" ng-class="isStyle ? 'has-error alert alert-danger' : 'has-success alert alert-info'">{{ getError(theForm.login.$error) }}</div>
                    </div>

                    <div style="margin-bottom: 25px">
                        <div style="margin-bottom: 5px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required />
                        </div>
                        <div ng-show="showError" ng-class="isStyle ? 'has-error alert alert-danger' : 'has-success alert alert-info'">{{ getError(theForm.email.$error) }}</div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls" align="center">
                            <button type="submit" class="btn">Add</button>
                            <button type="submit" class="btn">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>